<div *ngIf="isLoggedIn">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" routerLink="">Global Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="myFeed">My Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="myFavorites">My Favourites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="myArticles">My Articles</a>
    </li>

    <li class="nav-item " *ngIf="tagResult">
      <a class="nav-link" id="tagTab" data-toggle="tab">#{{tagName}}</a>
    </li>
  </ul>
</div>

<div *ngIf="!isLoggedIn">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/page/articles">Global Feed</a>
    </li>
    <li class="nav-item " *ngIf="tagResult">
      <a class="nav-link" id="tagTab" data-toggle="tab">#{{tagName}}</a>
    </li>
  </ul>
</div>