.jumbotron{
    margin:5%;
    background-color: #17a2b824; 
}

.profileBox{
    display:inline-flex
}

.btn{
    margin: 2px;
}
.tags{
    float: right;
}

.tag{
    background-color:#dce6e6;
    margin: 1px;
    pointer-events: none;
}